h1 {
  font-size: 49px;
  font-family: "Odibee Sans", cursive;
  margin: auto auto auto auto;
  padding: 10px 10px 10px 10px;
}

.App {
}

.Nav {
  text-align: center;
  background-color: #a41d1d;
  border-radius: 9px;
}

.Nav__Button {
  color: white;
  text-decoration: none;
}

.Nav__Button--Home {
}

.Nav__Button--Categories {
  font-family: "Squada One", cursive;
  font-size: 29px;
  padding-bottom: 9px;
}

.Nav__SelectCategory {
  margin-top: 6px;
  margin-bottom: 11px;
  font-size: 17px;
  padding: 2px;
  font-family: "Inconsolata", monospace;
}

.ReviewCard {
  font-family: "Heebo", sans-serif;
  font-size: 1.25em;
  background-color: #1511c0;
  color: white;
  border-radius: 10px;
  padding: 1px 1px 1px 1px;
  margin: 2px 0px 2px 0px;
}

.ReviewCard_Link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.ReviewCard__p {
  margin-top: 3%;
  margin-left: 3%;
}

.Reviews__MainReviewsContainer {
  background-color: #8e94de;
}

.Reviews__Header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.SingleReviewContainer__MainPic {
  width: 100%;
  border-radius: 5%;
  margin-top: 1%;
}

.SingleReview__Body {
  background-color: #1511c0;
  color: white;
  border-radius: 10px;
  padding: 1px 1px 1px 1px;
  margin: 2px 0px 2px 0px;
}

.SingleReview__Body__p {
}

.SingleReview_Tag {
  font-family: "Heebo", sans-serif;
  font-size: 1.25em;
  background-color: #1511c0;
  color: white;
  border-radius: 10px;
  padding: 1px 1px 1px 1px;
  margin: 2px 0px 2px 0px;
}

@media only screen and (min-width: 769px) {
  .Nav {
    display: grid;

    grid-template-columns: 25% 47%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "categories"
      "home";
  }

  .Nav__Button--Categories {
    grid-area: categories;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 0%;
  }

  .Nav__Button--Home {
    padding-top: 2%;
  }
}
