.Error404 {
  text-align: center;
}
.Error404__h2Message {
  font-family: "Permanent Marker", cursive;
}

.Home {
  /* text-align: center; */
  /* background-color: #6cb4f8; */
  border-radius: 10px;
  padding: 1%;
  margin-top: 1%;
}

.Home__Quote {
  font-family: "Sriracha", cursive;
  margin-left: 2%;
  margin-right: 2%;
}

.ReviewCard {
  font-family: "Heebo", sans-serif;
  font-size: 1.25em;
}

.ReviewCard__FootNote {
  margin-bottom: 0%;
  margin-top: 0%;
  font-size: 0.6em;
  font-family: "Andale Mono", monospace;
  margin-left: 1%;
}

.ReviewCard_Link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.ReviewCard__p {
  margin-top: 3%;
  margin-left: 3%;
}

.ReviewSorting__SortBy__Form {
  margin-bottom: 2%;
  margin-left: 2%;
}

.ReviewSorting__SortBy__Form__Label {
  font-size: 1.4em;
  padding-right: 1.5%;
}

.ReviewSorting__SortBy__Form__SelectField {
  font-family: "Inconsolata", monospace;
  font-size: 17px;
  padding: 2px;
}

.Reviews__Header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.Reviews__Header__Title {
  margin-top: 8px;
}

.SingleComment {
  background-color: #bebdf1;
  border-radius: 12px;
}

.SingleComment__Author {
  margin-top: 3%;
  margin-left: 3%;
}

.SingleComment__Text {
  margin-top: 3%;
  margin-left: 3%;
}

.SingleReviewContainer__MainPic {
  width: 100%;
  border-radius: 5%;
  margin-top: 1%;
}

.SingleReview__Body {
  background-color: #1511c0;
  color: white;
  border-radius: 10px;
  padding: 1px 1px 1px 1px;
  margin: 2px 0px 2px 0px;
}

.SingleReview_Tag {
  font-family: "Heebo", sans-serif;
  font-size: 1.25em;
  background-color: #1511c0;
  color: white;
  border-radius: 10px;
  padding: 1px 1px 1px 1px;
  margin: 2px 0px 2px 0px;
}

.Votes {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: min-content;
  grid-template-areas: "VoteButton VoteCount";
}

.Votes__VoteButton {
  grid-area: VoteButton;
}

.Votes__VoteCount {
  grid-area: VoteCount;
  margin-left: 9%;
}
